__pycache__/
*.py[cod]
*.pyo
.venv/
.vscode/
.streamlit/
Thumbs.db
.DS_Store
*.log

# Generated application builds
build/
dist/
HousingSearchAssistant_EXE_Build_Kit/
*.spec

HousingSearchAssistant_EXE_Build_Kit.zip
